<h1 mat-dialog-title>{{data ? 'Editar Categoria' + data.id : 'Cadastro de Categoria'}}</h1>
<div mat-dialog-content>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" [formGroup]="form">
    <div fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end stretch">
    <button fxFlex="100px" mat-button color="warn"  (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
    <button fxFlex="100px" mat-stroked-button color="primary" (click)="salvar()">Salvar</button>
  </div>
</div>
